pandapower==2.14.6
torch==2.3.0
torch-geometric==2.5.3
xgboost==2.0.3
shap==0.45.0
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.0
seaborn==0.13.2
sentence-transformers==3.0.1
networkx==3.3
pyserial==3.5
requests==2.32.3
joblib==1.4.2
imbalanced-learn==0.12.3
